@charset "UTF-8";

@font-face {
  font-family: Delicious;
  src: url('Avenir-light.otf');
}

@font-face {
  font-family: Delicious;
  font-weight: bold;
  src: url('Delicious-Bold.otf');
}

:root {
  --color-primary: #c96200;
  --color-secondary: #f4f5f6;
  --color-tertiary: #0d1013;
  --color-gray: #f6f6f6;
  --color-subtitle: #c96200;
  --background-color-main: #ECF0F3;
  --background-color-1: linear-gradient(145deg, #1e2024, #23272b);
  --text-color-primary: linear-gradient(145deg, #c96200, #fc7b00);
  --background-color-2: #212428;
  --shadow-1: 10px 10px 19px #1c1e22,
    -10px -10px 19px #262a2e;
  --shadow-2: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
  --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
  --shadow-white-3: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  --gradient-box-w: linear-gradient(145deg, #dae0e3, #ffffff);
  --gradient-brown-hover: linear-gradient(145deg, #c96200, #8a4300);
  --color-heading: #1e2125;
  --color-heading-wv: #1e2125;
  --color-body: #878e99;
  --color-body-white: #3c3e41;
  --color-lightn: #c4cfde;
  --color-midgray: #878787;
  --color-light: #E4E6EA;
  --color-lighter: #CED0D4;
  --color-lightest: #F0F2F5;
  --color-border: #E6E6E6;
  --color-white: #ffffff;
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-success: #3EB75E;
  --color-danger: #FF0003;
  --color-warning: #FF8F3C;
  --color-info: #1BA2DB;
  --color-facebook: #3B5997;
  --color-twitter: #1BA1F2;
  --color-youtube: #ED4141;
  --color-linkedin: #0077B5;
  --color-pinterest: #E60022;
  --color-instagram: #C231A1;
  --color-vimeo: #00ADEF;
  --color-twitch: #6441A3;
  --color-discord: #7289da;
  --p-light: 300;
  --p-regular: 400;
  --p-medium: 500;
  --p-semi-bold: 600;
  --p-bold: 700;
  --p-extra-bold: 800;
  --p-black: 900;
  --s-light: 300;
  --s-regular: 400;
  --s-medium: 500;
  --s-semi-bold: 600;
  --s-bold: 700;
  --s-extra-bold: 800;
  --s-black: 900;
  --transition: 0.4s;
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
  --font-terciary: 'JetBrains Mono', monospace;
  --font-size-b1: 18px;
  --font-size-b2: 22px;
  --font-size-b3: 14px;
  --line-height-b1: 1.50;
  --line-height-b2: 1.6;
  --line-height-b3: 1.7;
  --h1: 70px;
  --h2: 60px;
  --h3: 50px;
  --h4: 40px;
  --h5: 30px;
  --h6: 20px;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: 10px;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

body {
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
  font-family: var(--font-primary);
  color: var(--color-body);
  background-color: var(--background-color-main);
  font-weight: var(--p-regular);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    overflow: hidden;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    overflow: hidden;
  }
}

@media only screen and (max-width: 767px) {
  body {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
address,
p,
pre,
blockquote,
menu,
ol,
ul,
table,
hr {
  margin: 0;
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  word-break: break-word;
  font-family: var(--font-secondary);
  line-height: 1.4074;
  color: var(--color-heading);
}

h1,
.h1 {
  font-size: var(--h1);
  line-height: 1.19;
  font-weight: 700;
}

h2,
.h2 {
  font-size: var(--h2);
  line-height: 1.23;
}

h3,
.h3 {
  font-size: var(--h3);
  line-height: 1.14;
}

h4,
.h4 {
  font-size: var(--h4);
  line-height: 1.25;
}

h5,
.h5 {
  font-size: var(--h5);
  line-height: 1.24;
}

h6,
.h6 {
  font-size: var(--h6);
  line-height: 1.25;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.h1 a,
.h2 a,
.h3 a,
.h4 a,
.h5 a,
.h6 a {
  color: inherit;
}

.bg-color-tertiary h1,
.bg-color-tertiary h2,
.bg-color-tertiary h3,
.bg-color-tertiary h4,
.bg-color-tertiary h5,
.bg-color-tertiary h6,
.bg-color-tertiary .h1,
.bg-color-tertiary .h2,
.bg-color-tertiary .h3,
.bg-color-tertiary .h4,
.bg-color-tertiary .h5,
.bg-color-tertiary .h6 {
  color: #fff;
}

.bg-color-tertiary p {
  color: #6c7279;
}

.bg-color-tertiary a {
  color: #6c7279;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

  h1,
  .h1 {
    font-size: 38px;
  }

  h2,
  .h2 {
    font-size: 32px;
  }

  h3,
  .h3 {
    font-size: 28px;
  }

  h4,
  .h4 {
    font-size: 24px;
  }

  h5,
  .h5 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 767px) {

  h1,
  .h1 {
    font-size: 34px;
  }

  h2,
  .h2 {
    font-size: 28px;
  }

  h3,
  .h3 {
    font-size: 24px;
  }

  h4,
  .h4 {
    font-size: 20px;
  }

  h5,
  .h5 {
    font-size: 16px;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: var(--s-bold);
}

h4,
.h4,
h5,
.h5 {
  font-weight: var(--s-bold);
}

h6,
.h6 {
  font-weight: var(--s-bold);
}

p {
  font-size: var(--font-size-b2);
  line-height: var(--line-height-b2);
  font-weight: var(--p-regular);
  color: var(--color-body);
  margin: 0 0 40px;
}

p.b1 {
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
}

p.b3 {
  font-size: var(--font-size-b3);
  line-height: var(--line-height-b3);
}

@media only screen and (max-width: 767px) {
  p {
    margin: 0 0 20px;
    font-size: var(--font-size-b2);
    line-height: var(--line-height-b2);
  }
}

p.has-large-font-size {
  line-height: 1.5;
  font-size: 36px;
}

p.has-medium-font-size {
  font-size: 24px;
  line-height: 36px;
}

p.has-small-font-size {
  font-size: 13px;
}

p.has-very-light-gray-color {
  color: var(--color-white);
}

p.has-background {
  padding: 20px 30px;
}

p.b1 {
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
}

p.b2 {
  font-size: var(--font-size-b2);
  line-height: var(--line-height-b2);
}

p.b3 {
  font-size: var(--font-size-b3);
  line-height: var(--line-height-b3);
}

p:last-child {
  margin-bottom: 0;
}

.b1 {
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
}

.b2 {
  font-size: var(--font-size-b2);
  line-height: var(--line-height-b2);
}

.b3 {
  font-size: var(--font-size-b3);
  line-height: var(--line-height-b3);
}

.b4 {
  font-size: var(--font-size-b4);
  line-height: var(--line-height-b4);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 20px;
  width: 100%;
}

table a,
table a:link,
table a:visited {
  text-decoration: none;
}

cite,
.wp-block-pullquote cite,
.wp-block-pullquote.is-style-solid-color blockquote cite,
.wp-block-quote cite {
  color: var(--color-heading);
}

var {
  font-family: "Poppins", sans-serif;
}

a:hover {
  text-decoration: none;
}

h5:hover {
  text-decoration: none;
  color: var(--color-primary);
}

h2 {
  color: #3c3e41;
}

/*---------------------------
	List Style 
---------------------------*/
ul,
ol {
  padding-left: 18px;
}

ul {
  list-style: square;

}

ul.liststyle.bullet li {
  font-size: 18px;
  line-height: 30px;
  color: var(--color-body);
  position: relative;
  padding-left: 30px;
}

@media only screen and (max-width: 767px) {
  ul.liststyle.bullet li {
    padding-left: 19px;
  }
}

ul.liststyle.bullet li+li {
  margin-top: 8px;
}

ul li {
  font-size: var(--font-size-b1);
  line-height: var(--line-height-b1);
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--color-body);
  text-transform: uppercase;
  font-size: 15px;
}

ul li a {
  text-decoration: none;
  color: var(--color-body);
}

ul li a:hover {
  color: var(--color-primary);
}

ul ul {
  margin-bottom: 0;
}

/* 
3.052rem/48.83px	
2.441rem/39.06px	
1.953rem/31.25px	
1.563rem/25.00px	
1.25rem/20.00px	
1rem/16.00px	
0.8rem/12.80px	
0.64rem/10.24px	
0.512rem/8.19px	
 */



/*=========================
    Section styling
==========================*/

hr.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*=========================
    Header section
==========================*/

.header {
  width: 100%;
  position: fixed;
  box-shadow: 10px 10px 19px rgba(0, 0, 0, 0.1);
  /* background-color: var(--background-color-main); */
  background: linear-gradient(90deg, #e2e8ec, #ffffff);
  z-index: 9999;
}

.header-wrapper {
  display: flex;
  height: 70px;
  padding: 0 64px;

}

.header-wrapper .header-left {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-wrapper .header-right {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-wrapper .header-right .header-nav-ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.nav-link {
  color: #181a1d;
  transition: all 300ms;
}

/*=========================
    Main section
==========================*/

.main-wrapper {
  padding: 150px 100px 150px 100px;
}

.main-wrapper .section-divider {
  justify-content: center;
}

.introduction {
  padding: 50px 0px 100px 0px;
}

.introduction h3 {
  color: var(--background-color-2);
  font-size: 45px;
  font-weight: bolder;
  line-height: 60px;
}

.introduction h3 span {
  background: var(--text-color-primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  max-width: 600px;
  font-size: 15px;
  color: #3c3e41;
  font-weight: 500;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 50px 0px;
}

.portfolio-container h2 {
  padding-bottom: 50px;
}

.portfolio-header {
  display: flex;
  width: 100%;
  padding-left: 30px;
  align-items: flex-start;
}

.cards-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 425px 425px 425px;
  gap: 30px;
}

.card {
  background: var(--gradient-box-w);
  box-shadow: var(--shadow-white-3);
  border-radius: 20px;
  padding: 30px;
  border: none;
  overflow: hidden;
  z-index: 1;
  transition: all 0.5s ease;

}

.card:hover {
  box-shadow: 20px 20px 30px #D1D9E6, -10px -10px 30px #ffffff;
}

.card::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: -1;
  transition: all 0.5s ease;
  opacity: 0;
}

.card:hover::before {
  opacity: 0.4;
}

.card-image-container {
  display: flex;
  justify-content: center;
  height: 255px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
}

.card img {
  border-radius: 15px;
  max-width: 100%;
  object-fit: cover;
}

.card span {
  color: var(--color-primary);
  font-family: var(--font-terciary);
  padding: 10px 0px 0px 0px;
  font-weight: 600;
  font-size: 14px;
}

.card h5 {
  font-weight: 600;
  font-size: 25px;
  padding: 10px 0px 0px 0px;
  transition: all 300ms;
}



/*=========================
    Footer section
==========================*/

.footer {
  display: flex;
  max-height: 300px;
  padding: 10px;
  justify-content: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 80%;
}

.footer-wrapper {
  display: flex;
  max-width: 80%;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer .footer-wrapper a img {
  height: 100px;
  width: 100px;
}

.footer .footer-wrapper .description {
  font-size: 15px;
}